.gameGrid_OFF {
    background-image: 
        linear-gradient(#111725 1px, transparent 1px), 
        linear-gradient(90deg, #111725 1px, transparent 1px);
    position: relative;
    margin: 0 auto;
    background-color: #111725;
    border-radius: 0.5%;
    filter: drop-shadow(0 0 0.75rem black);
}

.gameGrid_ON {
    background-image: 
        linear-gradient(rgb(138, 138, 138) 0.1px, transparent 1px), 
        linear-gradient(90deg, rgb(138, 138, 138) 0.1px, transparent 1px);
    position: relative;
    margin: 0 auto;
    background-color: #111725;
    border-radius: 0.5%;
    filter: drop-shadow(0 0 0.75rem black);
}

.CellStyle {
    background: #daaa52;
    position: absolute;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 3%;
    padding: 3% 0 3%;
    filter: drop-shadow(0 0 0.33rem gray);
}

.button {
    width: 8.5rem;
    height: 2.5rem;
    background-color: #111725;
    border-color: #111725;
    border-radius: 6%;
    color: #f1f1f1;
    font-size: 1rem;
}

.button:hover {
    color: #daaa52;
    animation-timing-function: linear;
    transform: translateY(-0.15rem);
}

.show-grid {
    font-size: medium;
}
